@forward "allCountries/index";

#allCountriesContainer {
  width: 100%;
  height: 62.1vh;
  overflow-y: scroll;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  margin-top: 30px;
  transition: border-radius 1s ease-in-out;
}

.country {
  position: relative;
  background-color: var(--white);
  width: 100%;
  min-height: 400px;
  box-shadow: rgba(199, 194, 194, 0.329) 20px 10px 50px 20px;
}
.flagPrimary {
  width: 100%;
  height: 250px;

  object-fit: cover;
}
.name {
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: var(--black);
  width: 50%;
  padding-left: 10px;
  margin-left: 10px;
  color: var(--white);
  margin-top: 10px;
  max-width: 250px;
}

.capital,
.continents,
.population,
.languages {
  padding-left: 20px;
  font-size: 0.9rem;
}
.languages span,
.currencies span {
  width: fit-content;
  background-color: var(--lightGreen);
  padding: 2px 5px;
  margin: 0px 5px;
}

#slideAllCountries {
  width: 90%;
  height: 100%;
}
main {
  border-radius: 0px;
}

.animationCountriesContainer {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#allCountriesMainContainer {
  width: 100%;
}

#fieldsetSort {
  padding-top: 20px;
  border: 0px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  legend {
    text-align: center;
    margin: 0 auto;
  }

  #wrapperSort {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    padding: 20px 30px;
  }

  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    height: 35px;
    border-radius: 25px;
    border: 2px solid var(--white);
    background-color: var(--white);
    padding-left: 10px;
    max-width: 150px;
  }

  fieldset {
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
  }
}

#sorting,
#filters {
  height: 50px;
  width: 100px;
  padding: 4px 0px;
  border: 3px solid var(--white);
  transition: background-color 0.5s linear;
  transition: padding-left 0.5s linear;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#sorting:hover,
#filters:hover {
  box-shadow: rgba(26, 170, 122, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding-left: 30px;
  cursor: pointer;
}

input[type="text"],
input[type="number"],
select {
  box-shadow: rgb(53, 136, 97) 0px 20px 20px -10px;
}

input[type="text"]:hover,
input[type="number"]:hover,
select:hover {
  box-shadow: rgb(18, 83, 50) 0px 20px 20px -10px;
}

#wrapperSort,
#wrapperFilters {
  background-color: rgba(28, 204, 96, 0.527);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#sortBySelect:focus,
select:focus,
input[type="text"]:focus,
input[type="number"]:focus {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  outline: 0px;
}

#fieldsetFilters {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 0px;
  gap: 20px;

  fieldset {
    border: hidden;
  }
  > div:nth-child(2) {
    label {
      padding-right: 27px;
    }
  }
  > div,
  fieldset {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  legend {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  #sortBySelect {
    width: 90%;
  }

  #wrapperFilters {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 25px;
    fieldset {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      div:not(.empty) {
        width: 100%;
        max-width: 250px;
      }
    }
    div:not(.empty) {
      display: flex;
      justify-content: space-between;
      width: 300px;
      margin: 0 auto;
    }
  }

  #populationMin {
    margin-left: 3px;
  }
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    height: 35px;
    border-radius: 25px;
    border: 2px solid var(--white);
    background-color: var(--white);
    padding-left: 10px;
    max-width: 150px;
  }

  fieldset {
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
  }
}
#btnFindContainer {
  display: flex;
  align-items: center;
  justify-content: center !important;
  position: relative;
}

#find {
  width: 100%;
  height: 45px;
  border-radius: 25px;
  border: 2px solid var(--white);
  background-color: var(--white);
  max-width: 130px;
  text-align: center;
  box-shadow: rgb(27, 136, 54) 0px 20px 30px -10px;
  transition: box-shadow 0.5s ease-in-out;
}
#find:hover {
  box-shadow: rgb(18, 83, 50) 0px 20px 20px -10px;
  cursor: pointer;
}

.matchesName {
  display: block;
}
.notMatchesName {
  display: none;
}

#warning {
  padding: 10px 10px;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  height: fit-content;
  width: 50%;
  margin: 0 auto;

  animation: blink 0.5s both;
}

.emptyFields {
  animation: wrongInput 1.25s forwards;
}

.more {
  width: 90px;
  position: absolute;
  right: 5px;
  bottom: 50px;
  padding: 0px;
  margin-right: 20px;
  padding: 20px;
  transition: margin-right 0.5s linear;
}

.moveOutRight {
  -webkit-animation: moveOutRight 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: moveOutRight 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.countryModal {
  width: 100%;
  max-width: 500px;
  background: var(--white);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  gap: 10px;
  box-shadow: rgba(22, 73, 41, 0.56) 0px 22px 70px 4px;
  transition: all 0.5s ease-in-out;

  > p:nth-child(2) {
    margin-top: 20px;
    margin-left: 20px;
    background-color: var(--black);
    padding-left: 10px !important;
    padding-right: 10px;
    color: var(--white);
    width: fit-content;
  }
  p {
    font-size: 1.2rem;
    padding-left: 30px;
    transition: all 0.5s ease-in-out;
  }
}

.back {
  width: 100px;
  padding: 5px;
  position: absolute;
  bottom: 50px;
  background-color: rgba(28, 204, 96, 0.527);
  box-shadow: rgba(0, 0, 0, 0.411) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 50%;
  transition: 0.4s transform ease-in-out;
}

.empty {
  position: absolute;
  right: 50px;
  width: 30px !important;
  height: 30px !important;
  background-color: var(--white);
  border-radius: 50%;

  color: var(--black);
  font-weight: bold;
  padding-left: 10px;
  padding-top: 1px;
  -webkit-animation: enterBounce 0.7s cubic-bezier(0.25, 0.5, 0.5, 0.9) both;
  animation: enterBounce 0.7s cubic-bezier(0.25, 0.5, 0.5, 0.9) both;
}
.hideMe {
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in-out;
}

.empty:hover {
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
}

.logoStat {
  animation: 0.5s spinLogo;
  transform: rotate(180deg);
  padding-bottom: 20px;
  padding-top: 0px !important;
}

.logoStatNone {
  animation: 0.5s spinLogoBack;
  transform: rotate(0deg);
}

.wiggle {
  animation: attentionWiggle 1s both;
}

.logoStat:hover {
  cursor: pointer;
}

#statistics {
  height: fit-content;
  background: var(--black);
  height: fit-content;
  width: fit-content;
  padding: 50px 40px 40px 0px;
  padding-top: 50px;
  border-radius: 0px 10px 10px 0px;
  z-index: 5;
  color: var(--white);
  display: flex;
  gap: 20px;
  align-items: center;
  h2 {
    border-bottom: 2px solid var(--white);
  }
  li {
    padding-left: 20px;
  }
}
.scaleMe {
  height: 35px;
  background-color: var(--lightGreen);
  width: 40px;
}

.moveDefault {
  position: absolute;
  top: 50%;
}
.moveToSight {
  animation: moveToSight 1s forwards;
}
.moveOutOfSight {
  animation: moveOutOfSight 1s both;
}

@media screen and (min-width: 700px) {
  input[type="text"],
  input[type="number"],
  select {
    max-width: 300px !important;
  }

  #wrapperFilters {
    div:not(.empty) {
      width: 100% !important;
      margin: auto !important;
    }
  }
  #allCountriesContainer {
    padding: 0 100px;
    margin-top: 30px;
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    display: grid;
    gap: 20px;
    border-radius: 50px;
    padding: 0 50px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    padding-bottom: 200px;
    div {
      width: 100%;
      height: 400px;
    }
  }
  #formFilters,
  #formSorts {
    width: 100%;
  }
  #formFilters {
    margin-top: 20px;
  }
  #fieldsetFilters,
  #fieldsetSort {
    width: 50%;
    margin: 0 auto;
  }
  #fieldsetFilters {
    div {
      max-width: 500px;
    }
  }
  #warning {
    font-size: 2rem;
    padding: 10px 20px;
    max-width: 340px;
  }
  .country {
    background-color: var(--white);
    width: 100%;
    min-height: 450px;
    box-shadow: rgba(199, 194, 194, 0.329) 20px 10px 50px 20px;
  }
  .more:hover {
    margin-right: 0px;
    cursor: pointer;
  }
  .back:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  .empty {
    right: 100px;
  }
}
