.hidden {
  display: none !important;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.opacity0 {
  opacity: 0 !important;
  margin: 0 !important;
}

.tabsAnimationDown {
  transform: translateY(1200px);
  transition: transform 0.8s ease-in-out;
}

.tabsAnimationUp {
  transform: translateY(0px);
  transition: transform 0.8s ease-in-out;
}
